{% set currentPage = 'text' %}

{% extends 'layout.html.twig' %}

{% from 'form.twig' import list_errors %}

{% import 'macros-map.twig' as map %}

{% block title %}Afrikapié - {{ text.title }}{% endblock %}


{% block javascripts %}
    {{ js('buzz') }}
    {{ map.js() }}
    <script src="/js/app-afrikapie-path.js"></script>
    <script src="/texts/points.js"></script>
    <script>
        currentPoint = textPoints['{{ text.slug }}'];
    </script>

    <script src="/js/app-text.js"></script>
    <script src="/js/app-text-map.js"></script>
{% endblock %}


{% block stylesheets %}
    {{ map.css() }}
    <style>
        body > header {
            background-image: url('/texts/{{ text.slug }}/header.jpg') !important;
        }
        {{ text.css|raw }}
    </style>
{% endblock %}


{% block main %}

{% include 'text/help.html.twig' only %}

{{ list_errors(errors, 'contact') }}

<header>
    <div class="inner">
        <h1>{{ text.title }}</h1>
        {{ text.intro ? ('<q>&#160;'~text.intro~'&#160;</q>') | raw }}
    </div>

    {% include 'text/nav.html.twig' %}
</header>

{% if (text.enhanced is defined) and (text.simple is defined) %}
    <!-- Buttons to choose the display mode -->
    <div id="choose-display" role="group" aria-label="Choisir le mode d’affichage du texte">

        <!-- ENHANCED choice -->
        <a class="btn active" role="button">Version augmentée

            <!-- Button to display (in a modal) the "enhanced text" help -->
            <span data-target="#help-for-text" data-toggle="modal"
                  role="button" aria-label="Afficher l’aide de la version augmentée"
            >
                <i class="fa fa-question-circle" data-title="Afficher l’aide"></i>
            </span>
        </a>

        <!-- SIMPLE choice -->
        <a class="btn" role="button">Version simple</a>
    </div>
{% endif %}

{% if text.audio %}
    {% include 'text/audio.html.twig' %}
{% endif %}

<section property="articleBody">

    <div role="tabpanel">
        {{ (text.enhanced|default ?: text.simple) | richtext }}

        <!-- Marie drawing + Map -->
        <div class="row">
            <a id="marie-img" class="col-xs-12 col-md-6"
               data-lightbox="global" href="/texts/{{ text.slug }}/marie.jpg"
            >
                <img src="/texts/{{ text.slug }}/marie.jpg">
            </a>

            <div class="col-xs-12 col-md-6">
                <div id="map"></div>
            </div>
        </div>
    </div>

    {% if (text.enhanced is defined) and (text.simple is defined) %}
        <div role="tabpanel" style="display: none;">
            {{ text.simple | richtext }}
        </div>
    {% endif %}
</section>

<footer>
    <hr>
    {% include 'text/nav.html.twig' with {footer: true} %}

    {% include 'follow-and-support.html.twig' only %}

    {% include 'text/support.html.twig' %}
    <hr>
    {% include 'contact.html.twig' %}
</footer>

{% endblock %}
