<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="favicon.png" rel="icon" type="image/png">

    <title>{% block title %}Afrikapié - Livre Web{% endblock %}</title>

    <!-- Styles
    ================================================== -->
    {{ css('font-awesome', 'lightbox') }}

    <link href="/css/main.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

    {{ js('old-browsers.cdn') }}
</head>
<body id="{{ currentPage }}" vocab="http://schema.org/"
      typeof="{{ currentPage == 'text' ? 'Article' : 'WebPage' }}">

    {% include 'header.html.twig' %}

    {% block header %}{% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}{% endblock %}

    <!-- Javascripts
    ================================================== -->
    {{ js('jquery', 'bootstrap', 'lightbox') }}

    <script src="/js/app.js"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
