<section id="summary">

    <a href="/2013-10-02" class="lead">
        <i class="fa fa-book"></i> Commencer la lecture
    </a>

    <!-- Notification for the last posted texts -->
    <nav id="today-texts">
        Aujourd’hui {{ today.day }} {{ ('month.' ~ today.month) | trans }},
        <b>
            {%     if today.num == 1 %} un nouveau texte !
            {% elseif today.num  > 1 %} {{ today.num }} nouveaux textes !
            {% else %}                  aucun nouveau texte.
            {% endif %}
        </b>

        {% if today.texts %}
            <ul class="list-inline">
                {% for slug in today.texts %}
                    <li><a href="{{ slug }}">{{ app.textTitles[slug] }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</section>
