{% set currentPage = 'text' %}

{% extends 'layout.html.twig' %}

{% from 'form.twig' import list_errors %}

{% import 'macros-map.twig' as map %}

{% block title %}Afrikapié - {{ text.title }}{% endblock %}


{% block javascripts %}
    {{ js('buzz') }}
    {{ map.js() }}
    <script src="/js/app-afrikapie-path.js"></script>
    <script src="/texts/points.js"></script>
    <script>
        currentPoint = textPoints['{{ text.slug }}'];
    </script>
    <script src="/js/app-text.js"></script>
{% endblock %}


{% block stylesheets %}
    {{ map.css() }}
    <style>
        body > header {
            background-image: url('/texts/{{ text.slug }}/header.jpg') !important;
        }
    </style>
{% endblock %}


{% block header %}
    {{ list_errors(errors, 'contact') }}
{% endblock %}


{% block footer %}
    <footer id="contact">
        <hr>
        {% include 'text-nav.html.twig' with {footer: true} %}
        {% include 'text-soutien.html.twig' %}
        <hr>
        {% include 'contact.html.twig' %}
    </footer>
{% endblock %}


{% block main %}

<header>
    <div class="inner">
        <h1>{{ text.title }}</h1>
        {{ text.intro ? ('<q>&#160;'~text.intro~'&#160;</q>') | raw }}
    </div>

    {% include 'text-nav.html.twig' %}
</header>

<!-- Links to choose the display mode -->
<div id="choose-display" role="group" aria-label="Choisir le mode d'affichage du texte">
    <a class="btn active" role="button">Version augmentée</a>
    <a class="btn"        role="button">Version simple</a>
</div>

<!-- Audio version -->
<audio controls preload="metadata" data-title="<b>Version audio</b>, par Marie"
       data-placement="bottom" data-html="true"
>
    <source src="/texts/{{ text.slug }}/audio.ogg" type='audio/ogg; codecs=vorbis'>
    <source src="/texts/{{ text.slug }}/audio.mp3" type="audio/mp3">

    <object type="application/x-shockwave-flash" data="dewplayer.swf" width="100%" height="50">
        <param name="movie"     value="dewplayer.swf">
        <param name="flashvars" value="mp3=/texts/{{ text.slug }}/audio.mp3">
        <param name="wmode"     value="transparent">
    </object>
</audio>

<section property="articleBody">

    <!-- The enhanced text -->
    <div role="tabpanel">
        {{ text.enhanced | richtext }}

        <!-- Marie drawing + Map -->
        <div class="row">
            <div id="marie-img" class="col-xs-12 col-md-6">
                <img src="/texts/{{ text.slug }}/marie.jpg">
            </div>

            <div class="col-xs-12 col-md-6">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <!-- The simple text -->
    <div role="tabpanel" style="display: none;">
        {{ text.simple | richtext }}
    </div>
</section>

{% endblock %}
