{% set currentPage = 'text' %}

{% extends 'layout.html.twig' %}

{% import 'macros-map.twig' as map %}

{% block title %}Afrikapié - {{ text.title }}{% endblock %}


{% block javascripts %}
    {{ js('lightbox') }}
    {{ map.js() }}
    <script src="/js/app-afrikapie-path.js"></script>
    <script src="/js/app-text-points.js"></script>
    <script>
        var currentPoint = textPoints['{{ text.slug }}'];
    </script>
    <script src="/js/app-text.js"></script>
    {#<script src="/texts/{{ text.slug }}/main.js"></script>#}
{% endblock %}


{% block stylesheets %}
    {{ css('lightbox') }}
    {{ map.css() }}
    <style>
        body > header {
            background-image: url('/texts/{{ text.slug }}/header.jpg') !important;
        }
    </style>
{% endblock %}


{% block main %}

<header>
    <div class="inner">
        <h1>{{ text.title }}</h1>
        {{ text.intro ? ('<q>&#160;'~text.intro~'&#160;</q>') | raw }}
    </div>

    <nav>
        {% if text.prev %}
            <a href="/{{ text.prev }}" class="previous">
                <i class="fa fa-3x fa-chevron-circle-left"></i>
                <span class="sr-only">Texte précédent</span>
            </a>
        {% endif %}

        <a href="#menu" role="button">
            <i class="fa fa-3x fa-bars"></i>
        </a>

        {% if text.next %}
            <a href="/{{ text.next }}" class="next">
                <i class="fa fa-3x fa-chevron-circle-right"></i>
                <span class="sr-only">Texte suivant</span>
            </a>
        {% endif %}
    </nav>
</header>

<!-- Buttons to choose the displaying type -->
<div class="btn-group btn-group-lg btn-group-justified"
     role="group" aria-label="Type d'affichage du texte">

    <!-- Enhanced -->
    <a href="#enhanced" class="active btn btn-default" role="button" data-toggle="tab">
        Vue augmentée
    </a>

    <!-- Simple -->
    <a href="#simple" class="btn btn-default" role="button" data-toggle="tab">
        Vue simple
    </a>

    <!-- Annotated -->
    <!--<a href="#" class="btn btn-default" role="button">
        Annoté
    </a>-->
</div>

<section class="tab-content" property="articleBody">

    <!-- The enhanced text -->
    <div id="enhanced" role="tabpanel" class="tab-pane fade in active">
        {{ text.enhanced | richtext }}

        <div id="map" class="col-md-6"></div>
    </div>

    <!-- The simple text -->
    <div id="simple" role="tabpanel" class="tab-pane fade">
        {{ text.simple | richtext }}
    </div>
</section>

{% endblock %}
