{% set currentPage = 'text' %}

{% extends 'layout.html.twig' %}

{% block title %}Afrikapié - {{ text.title }}{% endblock %}


{% block javascripts %}
    <script src="/js/app-text.js"></script>
{% endblock %}


{% block stylesheets %}
    <style>
        body > header {
            background-image: url('/images/header/{{ text.image }}.jpg') !important;
        }
    </style>
{% endblock %}


{% block main %}

<header>
    <div class="inner">
        <h1>{{ text.title }}</h1>
        <q>&#160;{{ text.intro  }}&#160;</q>
    </div>

    <nav>
        {% if text.prev %}
            <a href="/{{ text.prev }}" class="previous">
                <i class="fa fa-3x fa-chevron-circle-left"></i>
                <span class="sr-only">Texte précédent</span>
            </a>
        {% endif %}

        <a href="#menu" role="button">
            <i class="fa fa-3x fa-bars"></i>
        </a>

        {% if text.next %}
            <a href="/{{ text.next }}" class="next">
                <i class="fa fa-3x fa-chevron-circle-right"></i>
                <span class="sr-only">Texte suivant</span>
            </a>
        {% endif %}
    </nav>
</header>

<!-- Types of display -->
<div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="Type d'affichage du texte">
    <!-- Augmented -->
    <a href="#" class="active btn btn-default" role="button">
        Vue augmentée
    </a>

    <!-- Simple -->
    <a href="#" class="btn btn-default" role="button">
        Vue simple
    </a>

    <!-- Annotated -->
    <!--<a href="#" class="btn btn-default" role="button">
        Annoté
    </a>-->
</div>

<section property="articleBody">
    {{ text.content | richtext }}
</section>

{% endblock %}
